/* color scheme from http://colorschemedesigner.com/#3i61Jw0w0w0w0 */
.line:hover * {
	font-size: 16px;
}
.function {
	padding-top: 20px;
}
.code {
	padding: 28px;
}
.comment {
	margin-left: 300px;
}
.asm {
	margin-left: 600px;
}
.opcode {
	color: #006363;
}
.addr0{
	color: #04356C;
}
.addr1{
	color: #007633;
}
body{
    margin: 0 auto;
	font-family: 'Inconsolata', sans-serif;
    color: #444444;
    line-height: 16px;
    max-width: 960px;
    font-size: 14px;
}
h1, h2, h3, h4 {
    color: #111111;
    font-weight: 400;
    padding: 0;
}
h3 {
	margin-left: 100px;
	font-family: 'Inconsolata', bold, sans-serif;
	float:right;
    font-size: 24px;
}
hr {
    max-width: 800px;
	margin-top:25px;
	margin-bottom:25px;
}
